<html>
    <head>
        <title>New test</title>
        <link rel="stylesheet" type="text/css" href="/css/style.scss">
    </head>

    <body>
        <h1>This is the home page! </h1>
    </body>
</html>