<html>

<head>
    <title>Wallet App</title>
</head>

<body>
    <h1>Profile</h1>
    
    <h1>{{ username }}</h1>
    <h3>Your funds: {{ wallet_funds }}</h3>
    <a href="/createWallet/{{userId}}">
        <button> Create Wallet </button>
    </a>
    
    <form action="/deposit/{{userId}}" method="POST">
        <input type="number" name="deposit" placeholder="Deposit Amount">
        <input type="submit" Value="Deposit" />
    </form>
    <form action="/withdraw/{{userId}}" method="POST">
        <input type="number" name="withdraw" placeholder="Withdraw Amount">
        <input type="submit" Value="Withdraw"/>
    </form>

    <div class="row">
        <div class="col-3">
            <a href="/{{userId}}/play">
                <button> Play </button>
            </a>
        </div>
    </div>
</body>

</html>