<html>

<head>
    <title>Wallet App</title>
</head>

<body>
    <h1>Profile</h1>
    
    <h1>{{ username }}</h1>
    <h3>Your funds: {{ wallet_funds }}</h3>
    <a href="/createWallet/{{userId}}">
        <button> Create Wallet </button>
    </a>
</body>

</html>